

.jjin_percent {
  font-weight: 900;
  color: #4c86f8;
  float: right;
}

.review_list hr {
  /* border: solid #4c86f8 1px; */
  margin: 10px 0px;
}

.title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 3px;
}

.description {
  width: 80%;
  font-size: 0.8rem;
}

.subtitle {
  font-size: 0.7rem;
}

.less_margin {
  margin-bottom: 2px;
}

.is_ad_red {
  float: right;
  font-weight: 900;
  color: #f84c4c;
}

.is_ad_blue {
  float: right;
  font-weight: 900;
  color: #4c86f8;
}