.review_card {
  border-width: 0px !important;
  background-color: #f8f8f8 !important;
  text-align: left;
  font-size: 0.9rem;
}

.review_item {
  color: black;
  text-decoration: none;
}

.review_item:hover {
  color: black;
  text-decoration: none;
}

.jjin_percent {
  font-weight: 900;
  color: #4c86f8;
  float: right;
}

.review_list hr {
  /* border: solid #4c86f8 1px; */
  margin: 10px 0px;
}

.title {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

