.App {
  text-align: center;
  background: #35363a;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4c86f8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #4c86f8;
}

a:hover {
  color: #4c86f8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
